/* styles.css */

body {
    background-color: #f8f9fa; /* Couleur de fond */
}

.container {
    margin-top: 50px; /* Marge en haut */
}

h1 {
    color: #343a40; /* Couleur de texte */
}

.btn {
    margin-right: 10px; /* Marge à droite pour les boutons */
}

table {
    background-color: #fff; /* Couleur de fond de la table */
    border-radius: 5px; /* Coins arrondis */
}

th {
    background-color: #343a40; /* Couleur de fond de l'en-tête de colonne */
    color: #fff; /* Couleur de texte de l'en-tête de colonne */
}

.table td, .table th {
    border-top: none; /* Suppression de la bordure supérieure des cellules */
}
